body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
}

a {
  color: #60aae4;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

button:disabled,
button[disabled] {
  opacity: 0.5;
}

/* utilities */

.all-uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
}
